/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --primary-color: hsl(38, 92%, 58%);
  --primary-light-color: hsl(38, 100%, 78%);
  --primary-alt-color: hsl(32, 75%, 50%);
  --secondary-color: hsl(195, 75%, 52%);
  --dark-color: hsl(212, 40%, 12%);
  --light-color: hsl(212, 4%, 95%);
  --body-color: hsl(212, 42%, 15%);
  --container-color: hsl(212, 42%, 20%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Bai Jamjuree", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--light-color);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 2rem;
  }
  #main{



  }
}

.card__container {
  padding-block: 5rem;
}

.card__content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__article {
  width: 100%;
  max-width: 300px;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__image {
  position: relative;
  background-color: var(--primary-light-color);
  padding-top: 1.5rem;
  margin-bottom: -.75rem;
}

.card__data {
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
}

.card__img {
  width: 180px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.card__shadow {
  width: 200px;
  height: 200px;
  background-color: var(--primary-alt-color);
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}

.card__name {
  font-size: var(--h2-font-size);
  color: var(--secondary-color);
  margin-bottom: .75rem;
}

.card__description {
  font-weight: 500;
  margin-bottom: 1.75rem;
}

.card__button {
  display: inline-block;
  background-color: var(--primary-color);
  padding: .75rem 1.5rem;
  border-radius: .25rem;
  color: var(--dark-color);
  font-weight: 600;
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--secondary-color);
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--secondary-color);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .card__data {
    padding: 1rem;
  }

  .card__content {
    margin-inline: 1rem;
  }

  .card__name {
    font-size: 1rem;
  }

  .card__description {
    font-size: 0.875rem;
  }

  .card__button {
    padding: 0.5rem 1rem;
  }

  header {
    font-size: 1.5rem;
  }

  #main {
    width: 90%;
    height: auto;
    padding: 1rem;
    display:grid;

  }

  .maintext {
    font-size: 0.875rem;
  }

  .introductions {
    flex-direction: column;
    height: auto;
  }

  .introduction {
    width: 100%;
    margin: 10px 0;
  }

  .intimg {
    width: 100%;
    height: auto;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }

  header {
    font-size: 2rem;
  }

  #main {
    width: 80%;
    height: auto;
    padding: 2rem;
    display: inline-block ;
  }

  .maintext {
    font-size: 1rem;
  }

  .introductions {
    flex-direction: row;
    height: auto;
  }

  .introduction {
    width: 45%;
    margin: 20px;
  }

  .intimg {
    width: 45%;
    height: auto;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .card__container {
    max-width: 1120px;
  }

  .swiper-button-prev {
    left: -1rem;
  }

  .swiper-button-next {
    right: -1rem;
  }

  header {
    font-size: 2.5rem;
  }

  #main {
    width: 60%;
    height: auto;
    padding: 2rem;

    

  }

  .maintext {
    font-size: 1.25rem;
  }

  .introductions {
    flex-direction: row;
    height: auto;
  }

  .introduction {
    width: 45%;
    margin: 20px;
  }

  .intimg {
    width: 45%;
    height: auto;
  }
}

/* For extra large devices */
@media screen and (min-width: 1440px) {
  .card__container {
    max-width: 1440px;
  }

  header {
    font-size: 3rem;
  }

  #main {
    width: 50%;
    height: auto;
    padding: 2.5rem;
    

  }

  .maintext {
    font-size: 1.5rem;
  }

  .introductions {
    flex-direction: row;
    height: auto;
  }

  .introduction {
    width: 40%;
    margin: 20px;
  }

  .intimg {
    width: 40%;
    height: auto;
  }
}



header {
  padding: 1rem;
  text-align: center;
  height: 90px;
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: var(--light-color);
  font-style: italic;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 60%;
  background-color: var(--container-color);
  height: 300px;
  border-radius: 4%;
  margin: 40px auto;
}

#mainimage {
  width: 300px;
  height: 80%;
  border-radius: 5%;
}

.maintext {
  text-shadow: 10px 10px 10px rgb(23, 0, 97);
  /* padding: 1.5rem 2rem; */
  border-radius: 1rem;
  width: 50%;
  text-align: center;
  position: relative;
  z-index: 100px;
  color: var(--light-color);
  margin: 10px;
}

.introductions {
  display: flex;
  text-align: center;
  width: 80%;
  background-color: var(--container-color);
  height: 280px;
  border-radius: 1.25rem;
  margin: 40px auto;
}

.introduction {
  border-radius: 1rem;
  height: 60%;
  width: 50%;
  color: var(--light-color);
  margin: 20px;
}

.intimg {
  width: 400px;
  height: 90%;
  border-radius: 5%;
  margin: 15px;
}

.container_form {
  max-width: 600px;
  margin: auto;
  background: var(--container-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin: 10px 0 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--light-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-alt-color);
}

.result {
  margin-top: 20px;
  font-size: 1.2em;
  text-align: center;
}

.container_energyform {
  max-width: 600px;
  margin: auto;
  background: var(--container-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container_energyform h1 {
  text-align: center;
}

.container_energyform label {
  display: block;
  margin: 10px 0 5px;
}

select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.container_energyform button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--light-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container_energyform button:hover {
  background-color: var(--primary-alt-color);
}

.result_energy {
  margin-top: 20px;
  font-size: 1.2em;
  text-align: center;
}

.cal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: var(--container-color);
  border-radius: 4%;
  margin: 40px auto;
  text-align: center;
}

.energy-type {
  background: var(--container-color);
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px 0;
  padding: 15px;
  width: 60%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-bottom: 10px;
}

.energy-type h2 {
  color: var(--secondary-color);
}

@media (max-width:600px){
  header{
    font-size: 30px;
  }
  #main{
    padding-top: 20px;
    display: block;
    width: 90%;
    height: auto;
    
    /* centrar */
    margin:  auto;
    margin-top: 40px;



  }

  .maintext{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
  }

  #mainimage{

    margin: auto;
    padding: 10px;
    border-radius: 20px;
    height: 300px;
    width: 400px;
  }

  .introductions{
    display: block;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .introduction{
    width: 90%;
    height: auto;
    margin: auto;
    margin: 20px;
    padding: 10px;
  }

  .intimg{
    width: 90%;
    height: 200px;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 10px;
    border-radius: 10%;
  }
}
